
/*body {
    width: 457px;
    height: 682px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;  
}*/

